md-content
  md-card.container
    md-card-header
      md-card-header-text      
        span.md-title {{ ctrl.title }}
    md-card-content
      form(name='editForm' layout='column' ng-submit='ctrl.onClickSaveButton(editForm)')
        md-input-container
          label Nome
          input(required ng-model='ctrl.data.name' name='name' autofocus)
          div(ng-messages='editForm.name.$touched && editForm.name.$error')
            div(ng-message='required') Campo obrigatório
        md-input-container
          md-radio-group(ng-value='ctrl.data.active' ng-model='ctrl.data.active')
            md-radio-button.md-primary(value='true') Ativo
            md-radio-button(value='false')  Inativo
        div(layout='column' layout-gt-sm='row')
          md-button.md-raised.md-warn(aria-label='Salvar' type='submit') Salvar
          md-button(aria-label='Salvar' ng-click='ctrl.onClickCancelButton()') Cancelar
