.justify-card{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    max-width: 300px;
    overflow: auto;

    &.justify-value{
        max-width: 100%;
    }
}

