md-card(layout='column')
  form(name='queryForm' ng-submit='ctrl.searchData()' layout='row').md-padding
    md-input-container
      label(flex) Data Inicial
      md-datepicker(ng-model="ctrl.startDate" md-placeholder="Data Início" name="startDate" ng-disabled='ctrl.loading')                      
    md-input-container
      label(flex) Data Final
      md-datepicker(ng-model="ctrl.endDate" md-placeholder="Data Final" name="endDate" ng-disabled='ctrl.loading')                      
    md-input-container
      md-select(placeholder='Escolha uma loja', ng-model='ctrl.store' required name='store' ng-disabled='ctrl.loading')
        md-option(ng-value='iterator' ng-repeat='iterator in ctrl.storeList' ng-selected='$index === 0') {{iterator.name}}
      div(ng-messages='queryForm.store.$error')
        div(ng-message='required') Campo obrigatório  
    div(layout='column')
      md-button.md-raised.md-warn(type='submit' ng-disabled='ctrl.loading') Atualizar
      md-button.md-raised.md-accent(type='button' ng-click='ctrl.generateFile()' ng-disabled='ctrl.loading') Gerar CSV
  canvas.container.chart.chart-bar(chart-data='ctrl.data', chart-labels='ctrl.labels' chart-options="ctrl.chartOptions" chart-dataset-override="ctrl.datasetOverride")
  md-card(layout-padding layout-margin ng-if='ctrl.reportData')
    .md-card-text(layout='column' layout-padding layout-gt-xs='row')
      .md-title Total
      div(layout='column')
        .md-subhead Dinheiro:
        .md-headline R$ {{ ctrl.getTotal("paymentMoney") }}
      div(layout='column')
        .md-subhead Cartão:
        .md-headline R$ {{ ctrl.getTotal("paymentCard") }}
  div(ng-repeat='entry in ctrl.listReportData | orderBy:"-closeDate" track by $index')
    md-card(layout-padding layout-margin)
      .md-card-text
        .md-subhead Id: {{ entry.id }}
        .md-subhead Caixa # {{ entry.cashierNumber }}
      .md-card-text(layout='column' layout-padding layout-gt-sm='row')
        div(layout='column')
          .md-subhead Aberto por:
          .md-headline {{ entry.userNameOpened || entry.userOpened }}
          .md-subhead Aberto em: 
          .md-headline {{ entry.createdAt | date: 'dd-MM-yyyy HH:mm:ss' }}
          div(layout='column'  ng-if='entry.justifyMoney' ng-class='{ "justify-card" : entry.justifyMoney }' layout-padding)
            .md-subhead Justificativa Dinheiro:
            .md-headline {{ entry.justifyMoney }}
        div(layout='column')
          .md-subhead Encerrado por: 
          .md-headline {{ entry.userNameClosed || entry.userClosed }}
          .md-subhead Encerrado em: 
          .md-headline {{ entry.closeDate | date: 'dd-MM-yyyy HH:mm:ss' }}
          div(layout='column' ng-if='entry.justifyCard' ng-class='{ "justify-card" : entry.justifyCard }' layout-padding)
            .md-subhead Justificativa Cartão:
            .md-headline {{ entry.justifyCard }}
        div(layout-gt-sm='row' layout='column')
          div(layout='column' layout-padding)
            div(layout='row')
              .md-subhead Registrado Cartão:
              .md-subhead R$ {{ ctrl.getTotalPerSale(entry.sales, "paymentCard").toFixed(2) }}
            div(layout='row')
              .md-subhead Registrado Dinheiro:
              .md-subhead R$ {{ ctrl.getTotalPerSale(entry.sales, "paymentMoney").toFixed(2) }}
            div(layout='row')
              .md-subhead Total:
              .md-subhead R$ {{ (ctrl.getTotalPerSale(entry.sales, "paymentCard") + ctrl.getTotalPerSale(entry.sales, "paymentMoney")).toFixed(2) }}
            div(layout='row')
              .md-subhead Saldo Inicial:
              .md-subhead R$ {{ entry.moneyBalance }}
          div(layout='column' layout-padding)
            div(layout='row')
              .md-subhead Comprovante Cartão:
              .md-subhead R$ {{ entry.balanceCard.toFixed(2) }}
            div(layout='row')
              .md-subhead Retirado em Dinheiro:
              .md-subhead R$ {{ entry.balanceMoney.toFixed(2) }}
            div(layout='row')
              .md-subhead Total:
              .md-subhead R$ {{ (entry.balanceCard + entry.balanceMoney).toFixed(2)  }}
            .justify-card.justify-value(layout='row' ng-if='(entry.balanceMoney - ctrl.getTotalPerSale(entry.sales, "paymentMoney")) !== 0')
              .md-subhead Diferença Dinheiro:
              .md-subhead R$ {{ (entry.balanceMoney - ctrl.getTotalPerSale(entry.sales, "paymentMoney")).toFixed(2)  }} ({{ ((entry.balanceMoney - ctrl.getTotalPerSale(entry.sales, "paymentMoney")) > 0) ? 'sobrando' : 'faltando'}})
            .justify-card.justify-value(layout='row' ng-if='(entry.balanceCard - ctrl.getTotalPerSale(entry.sales, "paymentCard")) !== 0')
              .md-subhead Diferença Cartão:
              .md-subhead R$ {{ (entry.balanceCard - ctrl.getTotalPerSale(entry.sales, "paymentCard")).toFixed(2)  }} ({{ ((entry.balanceCard - ctrl.getTotalPerSale(entry.sales, "paymentCard")) > 0) ? 'sobrando' : 'faltando'}})