md-card(layout='column')
  form(name='queryForm' ng-submit='ctrl.searchData()' layout='row').md-padding
    md-input-container
      label(flex) Data Inicial
      md-datepicker(ng-model="ctrl.startDate" md-placeholder="Data Início" name="startDate" ng-disabled='ctrl.loading')                      
    md-input-container
      label(flex) Data Final
      md-datepicker(ng-model="ctrl.endDate" md-placeholder="Data Final" name="endDate" ng-disabled='ctrl.loading')                      
    md-input-container
      md-select(placeholder='Escolha uma loja', ng-model='ctrl.store' required name='store' ng-disabled='ctrl.loading')
        md-option(ng-value='iterator' ng-repeat='iterator in ctrl.storeList' ng-selected='$index === 0') {{iterator.name}}
      div(ng-messages='queryForm.store.$error')
        div(ng-message='required') Campo obrigatório  
    div(layout='column')
      md-button.md-raised.md-warn(type='submit' ng-disabled='ctrl.loading') Atualizar
      md-button.md-raised.md-accent(type='button' ng-click='ctrl.generateFile()' ng-disabled='ctrl.loading') Gerar CSV
  canvas.container.chart.chart-bar(ng-if='ctrl.complete' chart-data='ctrl.data', chart-labels='ctrl.labels' chart-options="ctrl.chartOptions" chart-dataset-override="ctrl.datasetOverride")
  md-card(layout-padding layout-margin ng-if='ctrl.data && ctrl.data.length' layout='column' layout-gt-sm='row')
    .md-card-text(layout='column' layout-padding layout-gt-xs='row')
      .md-title Chopp
      div(layout='column')
        .md-subhead Litros Vendidos: {{ ctrl.kegTotalLiter }}
        .md-subhead Custo: R$ {{ ctrl.kegTotalCost.toFixed(2) }}
        .md-subhead Faturamento: R$ {{ ctrl.kegTotalSales.toFixed(2) }}
        .md-subhead Lucro: R$ {{ ctrl.kegProfit.toFixed(2) }}
    .md-card-text(layout='column' layout-padding layout-gt-xs='row')
      .md-title Produtos
      div(layout='column')
        .md-subhead Custo: R$ {{ ctrl.productTotalCost.toFixed(2) }}
        .md-subhead Faturamento:  R$ {{ ctrl.productTotalSales.toFixed(2) }}
        .md-subhead Lucro:  R$ {{ ctrl.productProfit.toFixed(2) }}
  md-table-container(ng-if='ctrl.data && ctrl.data.length')
    table(md-table='')
      thead(md-head='')
        tr(md-row='')
          th(md-column='')
            span Id Venda
          th(md-column='')
            span Caixa #
          th(md-column='')
            span Pgto Total 
          th(md-column='')
            span Pgto Dinheiro
          th(md-column='')
            span Pgto Cartão 
          th(md-column='')
            span Usuário 
          th(md-column='') 
            span Dt. Venda
      tbody(md-body='' )
        tr(md-row='', md-select='iterator', md-select-id='name', md-auto-select='', ng-repeat='iterator in ctrl.data | orderBy: "-finalizeDate"')
          td(md-cell='') {{iterator.sales._id}}
          td(md-cell='') {{ iterator.cashierNumber || iterator._id }} 
          td(md-cell='') {{ iterator.sales.total.toFixed(2) }} 
          td(md-cell='') {{ iterator.sales.paymentMoney.toFixed(2) }} 
          td(md-cell='') {{ iterator.sales.paymentCard.toFixed(2) }} 
          td(md-cell='') {{ iterator.sales.userName || iterator.sales.userEmail}} 
          td(md-cell='') {{iterator.sales.createdAt | date: 'dd-MM-yy'}}


  