md-dialog(aria-label='Operação de Troca de Barris').sale-total
  md-toolbar
    .md-toolbar-tools Resumo da Venda - Total R$: {{ctrl.totalSales }}
  md-dialog-content
    .md-dialog-content(layout='column' layout-padding)
      form(layout='column' name='paymentForm')
        md-toolbar
          .md-toolbar-tools Forma de Pagamento - Total R$: {{ctrl.totalSales }}
        .md-list-item-text.card-info(layout='column')
          md-card
            md-card-header
              md-card-header-text.menu-item.md-card-header-text(layout='column' layout-gt-xs='row' layout-align='space-around start' layout-padding)
                md-radio-group(ng-model='ctrl.payment' ng-change="ctrl.setPayment()" required)
                  md-radio-button.md-primary(value='money') Dinheiro
                  md-radio-button(value='card')  Cartão
                  md-radio-button.md-warn(value='both') Cartão e Dinheiro
              div(layout='column' layout-margin layout-padding ng-if='ctrl.payment === "both"')
                div(layout='row' layout-align='space-between start')
                  h3.volume-cost-label Valor R$
                  md-input-container
                    label.volume-cost-label Valor no Dinheiro
                    input(ng-model='ctrl.paymentMoney' name='paymentMoney' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" ng-change='ctrl.updateCardValue()' required ng-disabled='!(ctrl.payment === "both")')
                    div(ng-messages='paymentForm.paymentMoney.$error')
                      div(ng-message='required') Campo obrigatório
                div(layout='row' layout-align='space-between start')
                  h3.volume-cost-label Valor R$
                  md-input-container
                    label.volume-cost-label Valor no Cartão 
                    input(ng-model='ctrl.paymentCard' name='paymentCard' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" ng-change='ctrl.updateMoneyValue()' required ng-disabled='!(ctrl.payment === "both")')
                    div(ng-messages='paymentForm.paymentCard.$error')
                      div(ng-message='required') Campo obrigatório
              div(layout='column' layout-margin layout-padding ng-if='ctrl.payment === "money"')
                .md-title Troco R$: {{ ctrl.changeValue() }}
                div(layout='row' layout-align='space-between start')
                  h3.volume-cost-label Valor Recebido R$
                  md-input-container
                    label Valor Recebido R$
                    input(ng-model='ctrl.change' name='change' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" ng-disabled='(ctrl.payment === "paymentCard")')
                    div(ng-messages='paymentForm.paymentMoney.$error')
                      div(ng-message='required') Campo obrigatório
      div(layout='column')
        md-toolbar(ng-if='ctrl.data.kegList.length')
          .md-toolbar-tools Chopps
        .md-list-item-text.card-info(layout='column')
          keg-card(ng-repeat='keg in ctrl.data.kegList track by $index' keg='keg' edit='false')        
      div(layout='column')
        md-toolbar(ng-if='ctrl.data.growlerList.length')
          .md-toolbar-tools Growlers
        .md-list-item-text.card-info(layout='column')
          md-card(ng-repeat="iterator in ctrl.data.growlerList track by $index")
            md-card-header
              md-card-header-text.menu-item.md-card-header-text(layout='column' layout-gt-xs='row' layout-align='space-around start')
                div(layout='column')
                  h3 {{iterator.name}} - {{iterator.item.name}}
                  .md-subhead Total R$:${{ iterator.unitPrice * (iterator.qtd || 0)}} 
                div(layout='column' layout-padding)
                  .md-subhead Qtd.
                  .quantity-label {{iterator.qtd}}
      div(layout='column')
        md-toolbar(ng-if='ctrl.data.productList.length')
          .md-toolbar-tools Produtos
        .md-list-item-text.card-info(layout='column')
          md-card(ng-repeat="iterator in ctrl.data.productList track by $index")
            md-card-header
              md-card-header-text.menu-item.md-card-header-text(layout='column' layout-gt-xs='row' layout-align='space-around start')
                div(layout='column')
                  h3 {{iterator.name}} - {{iterator.item.name}}
                  .md-subhead Total: R${{ iterator.unitPrice * (iterator.qtd || 0)}} - Unit: R${{iterator.unitPrice}}
                div(layout='column' layout-padding)
                  .md-subhead Qtd.
                  .quantity-label {{iterator.qtd}}
  md-dialog-actions
    md-button(ng-click="ctrl.dialog.cancel()") Cancelar 
    md-button.md-raised.md-warn(ng-click="ctrl.confirmSales()" ng-disabled='!paymentForm.$valid || ctrl.wait') Confirmar Venda
