md-dialog.cashier-total
  md-toolbar
    .md-toolbar-tools Encerramento do Caixa # {{ ctrl.data.cashier.cashierNumber }}
  form(ng-submit='ctrl.finalizeCashier()' name='cashierForm')
    md-dialog-content
      .md-dialog-content(layout='column' )
        div(layout='column')
          md-toolbar
            .md-toolbar-tools Informações do Caixa # {{ ctrl.data.cashier.cashierNumber }}
          .md-list-item-text.card-info(layout='column')
            md-card
              md-card-header
                md-card-header-text.menu-item.md-card-header-text(layout='column' layout-align='start start' layout-margin)
                  div(layout='column')
                    .md-subhead Caixa Aberto # {{ ctrl.data.cashier.cashierNumber }} em {{ ctrl.data.cashier.createdAt | date: 'dd-MM-yyyy HH:mm:ss'}} por {{ ctrl.data.cashier.userNameOpened || ctrl.data.cashier.userEmailOpened }}
                    .md-subhead Duração: {{  ctrl.lengthTime }}h
                    .md-title Caixa
                    span Caixa Inicial: R$ {{ctrl.data.cashier.moneyBalance }}
                    md-input-container
                      label Caixa no Fechamento - Dinheiro
                      input(ng-model='ctrl.balance' name='balance' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" required)
                      div(ng-messages='cashierForm.balance.$touched && cashierForm.balance.$error')
                        div(ng-message='required') Campo obrigatório
                        div(ng-message='pattern') O Caixa no Fechamento deve ser um número válido
                    md-input-container
                      label Comprovante de Recibo - Cartão
                      input(ng-model='ctrl.balanceCard' name='balanceCard' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" required)
                      div(ng-messages='cashierForm.balanceCard.$touched && cashierForm.balanceCard.$error')
                        div(ng-message='required') Campo obrigatório
                        div(ng-message='pattern') O Caixa  deve ser um número válido
                  div(layout='column')
                    .md-title Vendas
                    span Total: {{ctrl.data.cashier.sales.length }}
                    span Cartão: {{ctrl.getCardSales() }}
                    span Dinheiro: {{ctrl.getMoneySales() }}
                    span Ambos: {{ctrl.getCardAndMoneySales() }}
                  div(layout='column')
                    .md-title Faturamento
                    span Total: R$ {{ ctrl.getTotalPayment().toFixed(2) }}
                    span Dinheiro: R$ {{ ctrl.getMoneyPayment().toFixed(2) }}
                    span Cartão: R$ {{ ctrl.getCardPayment().toFixed(2) }}
    md-dialog-actions
      md-button(ng-click="ctrl.dialog.cancel()") Cancelar
      md-button.md-raised.md-warn(type='submit' ng-disabled='cashierForm.$invalid') Encerrar Caixa