$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);
@import 'variables';


/**
 * App-wide Styles
 */

body,
md-content{
    background-color:  white;
}

.red-color{
    color: $red-color;
}

.orange-color{
    color: $orange-color;
}

.full-width {
    width: 100%;
}
.full-content{
    height: 100%;
    overflow: hidden;
}

md-list-item:nth-child(2n+0) {
    background: rgba(101, 101, 101, 0.2);
}

.md-sidenav {
    transition: 0.2s all
} // fix bug issue with angular material bug

.container{
    max-width: 1096px;
    margin: 10px auto;
}

md-content{
    > md-card{
        margin: 10px;
    }

}

md-list{
    > md-toolbar{
        padding-top: 24px;
        background-color: white;
    }
}

.img-product{
    height: 175px;
    width: 175px;
}



// Component styles are injected through gulp

/* inject:scss */

@import 'variables';

@import 'admin/admin';

@import 'invoice/invoice-confirmation';

@import 'invoice/invoice-edit';

@import 'invoice/invoice-list';

@import 'main/main';

@import 'product-view/product-view';

@import 'provider/provider-list';

@import 'report/report';

@import 'stock/stock-list';

@import 'store-view/store-view';

@import '../components/cashier-total/cashier-total';

@import '../components/footer/footer';

@import '../components/keg-card/keg-card';

@import '../components/keg-detail-card/keg-detail-card';

@import '../components/menu-order/menu-order';

@import '../components/navbar/navbar';

@import '../components/report/cashier-report';

@import '../components/sale-total/sale-total';

@import '../components/stock-row/stock-row';

/* endinject */