md-content.invoice-edit
  md-card.container
    md-card-header
      md-card-header-text(ng-if='!ctrl.isEdition')   
        span.md-title {{ ctrl.title }}
      md-card-header-text(ng-if='ctrl.isEdition')
        span.md-display-1 # {{ctrl.data.invoiceNumber}} 
        span.md-headline {{ctrl.data.provider.name}}
        span.md-headline {{ctrl.data.store.name}}
        span.md-headline {{!ctrl.data.done ?  "Pendente" : "Enviado para o estoque" }}
        span.md-subhead Link: {{ctrl.data._id}}
    md-card-content
      form(name='editForm' layout='column' ng-submit='ctrl.onClickSaveButton(editForm)')
        div(layout='column' layout-gt-sm='row')
          md-button.md-raised.md-warn(aria-label='Salvar' type='submit' ng-disabled='(!ctrl.isEdition && ctrl.data.productList.length === 0) || (ctrl.checkIfCostIsFilled()) || ctrl.loading')  Salvar
          md-button(aria-label='Cancelar' ng-click='ctrl.onClickCancelButton()' ng-disabled='ctrl.loading') Cancelar
          md-button.md-raised(aria-label='Confirmar Pedido' ui-sref='invoice-confirmation({ id: ctrl.data._id})' ng-disabled='ctrl.loading' ng-if='ctrl.isEdition') Recebimento do Pedido
        md-input-container(ng-if='!ctrl.isEdition')
          md-select(placeholder='Escolha uma loja', ng-model='ctrl.data.store._id' required name='store' ng-disabled='ctrl.loading')
            md-option(ng-value='iterator._id' ng-repeat='iterator in ctrl.storeList') {{iterator.name}}
          div(ng-messages='editForm.store.$error')
            div(ng-message='required') Campo obrigatório
        md-input-container(ng-if='!ctrl.isEdition && ctrl.data.store._id')
          md-select(placeholder='Escolha um fornecedor', ng-model='ctrl.data.provider' required name='provider' ng-change='ctrl.updateProductList(true)' ng-disabled='ctrl.loading')
            md-option(ng-value='iterator' ng-repeat='iterator in ctrl.providerList') {{iterator.shortName}} 
          p {{ctrl.data.provider.name}}
          p {{ctrl.data.provider.CNPJ}}
          div(ng-messages='editForm.provider.$error')
            div(ng-message='required') Campo obrigatório
        md-input-container(ng-if='ctrl.isEdition || ctrl.data.store._id')
          label Observações 
          input(ng-model='ctrl.data.description' name='description' ng-disabled='ctrl.loading')
        md-input-container(ng-if='ctrl.isEdition')
          label Valor Pago
          input(ng-model='ctrl.data.payment' name='payment'  ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" ng-disabled='ctrl.loading')
        div(ng-if='!ctrl.loadingData && (ctrl.isEdition || (ctrl.data.store._id && ctrl.data.provider._id))')
          md-input-container
            .md-title Custo Total do Pedido: R${{ctrl.calculateTotalCost() }}
            .md-title Quantidade: {{ctrl.calculateTotalQuantity() }}
          md-toolbar(ng-if='ctrl.productListCache.length > 0 && !ctrl.data.done')
            .md-toolbar-tools(layout='row')
              md-button.add-button-autocomplete.md-icon-button(aria-label='Adicionar Produtos' ng-click='ctrl.addItem()' ng-disabled='ctrl.loading')
                md-icon(title='Adiconar Produto' md-menu-origin='') add_circle
              md-input-container
                md-select.white-color(placeholder='Adicionar Produto', ng-model='ctrl.selectedProduct' name='selected-product' ng-disabled='ctrl.loading')
                  md-option(ng-value='iterator' ng-repeat='iterator in ctrl.productListCache') {{iterator.name}} - {{iterator.item.name}}
          md-card.md-3-line.product-quantity-card(ng-if='ctrl.productListCache.length === 0')
            md-card-header
              md-card-header-text      
              span.md-title Nenhum Produto Cadastrado Para Este Fornecedor
          md-card.md-3-line.product-quantity-card(ng-if='ctrl.data.productList.length === 0 && ctrl.productListCache.length > 0')
            md-card-header
              md-card-header-text      
              span.md-title Nenhum Produto Selecionado
          md-card.product-quantity-card(ng-repeat='entry in ctrl.data.productList')
            ng-form.product-quantity-form(name='productQuantityForm' ng-click='ctrl.prevent($event)' layout='column' layout-gt-xs='row')
              div(layout='column' flex layout-align='center stretch')
                md-card-header
                  md-card-header-text
                    .md-headline {{entry.product.name}}
                    span.md-subhead {{entry.product.item.name}}         
                div(layout='column' layout-gt-xs='row' layout-align='center center' layout-align-gt-sm='space-around start' )
                  div(ng-if='!entry.product.item.isKeg' layout='column')
                    md-input-container(layout="column"  flex)
                      div(layout='row')
                        label(flex) Custo R$
                        input#inputMoney(flex required ng-model='entry.unitCost' name='unitCost' type='text' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0" ng-disabled='entry.done')
                        div(ng-messages='productQuantityForm.unitCost.$touched && productQuantityForm.unitCost.$error')
                          div(ng-message='required') Campo obrigatório
                          div(ng-message='pattern') O Custo Unitário deve ser um número válido
                    div(layout="column" layout-align='space-between center' flex)
                      span.title-label Quantidade
                      div(layout='row')
                        md-button.md-primary.md-raised(aria-label='Adicionar Quantidade' ng-click='ctrl.addItemQuantity(entry)' ng-disabled='entry.done')
                          md-icon(title='Adicionar Quantidade') add  
                        md-input-container.quantity-label(layout-align='center center') 
                          input(type='number' ng-model='entry.quantity' name='quantity' step="1" min="0" ng-disabled='entry.done' required flex)
                        md-button.md-warn.md-raised(aria-label='Remover Quantidade' ng-click='ctrl.removeItemQuantity(entry)' ng-disabled='entry.done')
                          md-icon(title='Remover Quantidade') remove
                  div(ng-if='entry.product.item.isKeg' layout='column')
                    label.label-volume-container(for='volume' title='Volume(Somente chopp)') Volume do Barril(Litros)
                    div(ng-repeat='vol in entry.volume' layout='column')
                      .volume-info-container(layout='column' layout-gt-xs='row' layout-align='center center')
                        md-checkbox.md-primary(ng-model='vol.enabled', aria-label='Volume do Barril(Litros)' name='volume' flex ng-disabled='ctrl.data.done || vol.done || vol.delivered > 0')
                          | {{ ((vol.custom)? "Outro" : vol.volume + "L") }}
                        div(layout="column" layout-align='space-between stretch' flex ng-if='vol.enabled && !vol.custom')
                          div(layout='row')
                            md-button.md-primary.md-raised(aria-label='Adicionar Quantidade' ng-click='ctrl.addItemQuantity(vol)' ng-disabled='vol.done || vol.delivered > 0')
                              md-icon(title='Adicionar Quantidade') add  
                            md-input-container.quantity-label
                              input(type='number' ng-model='vol.quantity' name='quantity' step="1" min="0" ng-disabled='vol.done  || vol.delivered > 0' required flex)
                            md-button.md-warn.md-raised(aria-label='Remover Quantidade' ng-click='ctrl.removeItemQuantity(vol)' ng-disabled='vol.done || vol.delivered > 0')
                              md-icon(title='Remover Quantidade') remove
                        md-input-container(ng-if='vol.enabled && vol.custom' flex)
                          label Volume Barril(L)
                          input(type='number' ng-model='vol.volume' name='volumeCompl' step="1" min="0" ng-disabled='vol.done || vol.delivered > 0' required flex)
                          div(ng-messages='(productQuantityForm.volumeCompl.$touched || ctrl.submit) && productQuantityForm.volumeCompl.$error')
                            div(ng-message='number') O Volume deve ser um número válido
                            div(ng-message='required') O campo Volume é obrigatório
                    div(layout='row')
                      h3.volume-cost-label Custo R$/L
                      md-input-container.volume-cost-container(layout="column"  flex)
                        div(layout='row' layout-align='center center')
                          label(flex) Custo por Litro - R$
                          div(layout='column')
                            input#inputMoney(flex required ng-model='entry.unitCost' name='unitCost' type='text' ui-hide-group-sep ui-number-mask='2' ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" min="0.01" ng-disabled='entry.done')
                            div(ng-messages='productQuantityForm.unitCost.$touched && productQuantityForm.unitCost.$error')
                              div(ng-message='required') Campo obrigatório
                              div(ng-message='pattern') O Custo Unitário deve ser um número válido
                              div(ng-message='min') O Custo Unitário deve ser maior que 0
                  div(layout='column')
                    md-input-container
                      label(flex) Previsão Entrega
                      md-datepicker(ng-model="entry.deliveryDate" md-placeholder="Previsão Entrega" name="develiveryDate" ng-disabled='entry.done' md-no-float)                      
                    div(layout='row')
                      h3.volume-cost-label Custo Total:  R${{ctrl.calculateCost(entry) }}
                  div(layout="column" layout-align='center center' ng-if='!entry.hasKegConfirmed')
                    span.title-label Remover Produto
                    md-button.md-accent.md-raised(aria-label='Remover Produto' ng-click='ctrl.removeProduct(entry)' ng-disabled='entry.done || entry.hasKegConfirmed')
                      md-icon(title='Remover Produto') delete 
                      