.invoice-confirmation {
    md-list-item-text {
        h3,
        h4,
        p {
            margin: 0px;
        }
    }
    md-input-container{
        margin: 0;
    }
    .volume-cost-label {
        padding-right: 10px;
        margin: 0;
    }
    .invoice-title{
        cursor: pointer;
    }
    
    md-list-item::before{
      min-height: 0;
    }

}