.invoice-edit {
    .quantity-label {
        text-align: center;
        font-size: 25px;
        margin: 6px;
    }
    .secondary-container {
        margin: auto;
    }
    .product-quantity-form,
    {
        padding: 10px;
        width: 100%;
    }
    .product-quantity-card {
        margin: 10px 0;
    }
    .input-autocomplete {
        width: 50%;
    }
    .md-toolbar-tools>.md-button:first-child {
        margin-left: 10px;
    }
    #inputMoney:before {
        content: 'R$ ';
    }
    .date-label {
        width: 100%;
        left: 65px;
    }
    md-select.white-color {
        max-width: 500px;
    }
    md-select.white-color .md-select-icon,
    md-select.white-color .md-select-value.md-select-placeholder,
    md-select.white-color:not([disabled]):focus .md-select-value {
        color: white;
    }
    .add-button-autocomplete {
        cursor: pointer;
    }
    .label-volume-container {
        margin-bottom: 10px;
    }
    .volume-info-container {
        margin-bottom: 10px;
    }
    .volume-cost-label {
        padding-right: 10px;
        padding-top: 30px;
    }
}