md-content
  md-card.container
    md-card-header
      md-card-header-text      
        span.md-title Alterar Senha
    md-card-content
      form(name='editForm' layout='column' ng-submit='vm.changePassword(editForm)')
        md-input-container
          label Senha Atual
          input(required ng-model='vm.user.oldPassword' name='password' type='password' mongoose-error='')
          div(ng-messages='editForm.password.$touched && editForm.password.$error')
            div(ng-message='required') Campo obrigat처rio
            div(ng-message='mongoose') {{ vm.errors.other }}
        md-input-container
          label Nova Senha
          input(required ng-model='vm.user.newPassword' name='newPassword' type='password' mongoose-error='')
          div(ng-messages='editForm.newPassword.$touched && editForm.newPassword.$error')
            div(ng-message='required') Campo obrigat처rio
            div(ng-message='mongoose') {{ vm.errors.other }}
        md-input-container
          label Confirme a Nova Senha
          input(required ng-model='vm.user.confirmPassword' name='confirmPassword' type='password' mongoose-error='' match='vm.user.newPassword')
          div(ng-messages='editForm.confirmPassword.$touched && editForm.confirmPassword.$error')
            div(ng-message='match') As senhas n찾o s찾o iguais
        div(layout='column' layout-gt-sm='row')
          md-button.md-raised.md-warn(aria-label='Salvar' type='submit' ng-disabled="vm.submitted") Salvar
          md-button(aria-label='Salvar' ng-click='vm.onClickCancelButton()' ng-disabled="vm.submitted") Cancelar