.main {
    overflow: hidden;
    padding-bottom: 1px;
    md-select {
        margin: 0px;
    }
    .total-value {
        font-size: 5em;
        color: #3f51b5;
        text-align: center;
    }
    md-card-header.shrink-header {
        padding: 5px;
    }
    .menu-order {
        height: 100%;
    }
    md-card {
        margin: 0;
    }
}