md-card.container
  md-card-header
    md-card-header-text      
      span.md-title {{ ctrl.title }}
  md-card-content
    form(name='editForm' layout='column' ng-submit='ctrl.onClickSaveButton(editForm)')
      div(layout='column' layout-gt-sm='row' style='padding-bottom: 30px')
        md-button.md-raised.md-warn(aria-label='Salvar' type='submit') Salvar
        md-button.md-raised.md-primary(aria-label='Salvar' type='button' ng-click='ctrl.onClickSaveButton(editForm, true)' ng-if='!ctrl.isEdition') Salvar e criar novo
        md-button.md-raised.md-accent(aria-label='Gerar Cartão' type='button' target="_blank" ng-click='ctrl.onClickGenerateButton()' ng-if='ctrl.isEdition && ctrl.isKeg(ctrl.data.item)') Gerar Cartão
        md-button(aria-label='Salvar' ng-click='ctrl.onClickCancelButton()') Cancelar
      md-input-container
        label Nome
        input(required ng-model='ctrl.data.name' name='name' autofocus)
        div(ng-messages='editForm.name.$touched && editForm.name.$error')
          div(ng-message='required') Campo obrigatório
      md-input-container(ng-if='ctrl.isEdition')
        label Fornecedor
        input(disabled='ctrl.isEdition' ng-model='ctrl.data.provider.name')
      md-input-container(ng-if='!ctrl.isEdition')
        md-select(placeholder='Escolha um fornecedor', ng-model='ctrl.data.provider._id' required name='provider')
          md-option(ng-value='iterator._id' ng-repeat='iterator in ctrl.providerList') {{iterator.shortName}} 
        div(ng-messages='editForm.provider.$error')
          div(ng-message='required') Campo obrigatório
      md-input-container(ng-if='ctrl.isEdition')
        label Item
        input(disabled='ctrl.isEdition' ng-model='ctrl.data.item.name')
      md-input-container(ng-if='!ctrl.isEdition')
        md-select(placeholder='Escolha um item', ng-model='ctrl.data.item' required name='item')
          md-option(ng-value='iterator' ng-repeat='iterator in ctrl.itemList') {{iterator.name}}
        div(ng-messages='editForm.item.$error')
          div(ng-message='required') Campo obrigatório
      md-input-container
        md-radio-group(ng-value='ctrl.data.active' ng-model='ctrl.data.active')
          md-radio-button.md-primary(value='true') Ativo
          md-radio-button(value='false')  Inativo
      md-input-container(ng-if='ctrl.isKeg(ctrl.data.item)')
        label IBU
        input(ng-model='ctrl.data.ibu' type='number' name='ibu')
      md-input-container(ng-if='ctrl.isKeg(ctrl.data.item)')
        label ABV %
        input(ng-model='ctrl.data.abv' name='abv' type='text' ui-hide-group-sep ui-number-mask='1' ng-pattern="/^[0-9]+(\.[0-9]{1})?$/" step="0.1")
        div(ng-messages='editForm.abv.$touched && editForm.abv.$error')
          div(ng-message='number') Digite um número válido1
          div(ng-message='min') Digite um número válido2
          div(ng-message='step') Digite um número válido3
          div(ng-message='required') Digite um número válido4
          div(ng-message='pattern') Digite um número válido5
      md-input-container(ng-if='ctrl.isKeg(ctrl.data.item)')
        label Estilo
        input(ng-model='ctrl.data.type')

      md-input-container
        label Imagem - Google Id
        input(ng-model='ctrl.data.imgGoogleId' name='imgGoogleId')   
        div(ng-if='ctrl.isEdition && ctrl.data.imgGoogleId')       
          img.img-product(src='{{ctrl.data.imgGooglePath}}' style='max-width: 100%;')
      