md-card.keg-card-detail(ng-class='{ "large": !$ctrl.small }')
  md-card-header(layout='column' layout-align='start center' ng-if='!$ctrl.small')     
    span
      .circle
  md-card-header(layout='column' layout-align='start center')
    .md-title.keg-title {{ $ctrl.keg.provider }}
    .md-title.keg-title {{ $ctrl.keg.name }}
    .md-subhead.keg-type {{ $ctrl.keg.type || '-'}}
  md-card-content(layout='column' layout-align='center center')
    .info-detail-container(layout-align='center center' layout='row')
      .md-subhead.keg-abv ABV: {{ $ctrl.keg.abv || '-' }}%
      .md-subhead.keg-ibu IBU: {{ $ctrl.keg.ibu || '-'}}
    .md-title.keg-volume 1 Litro: R$ {{ $ctrl.keg.literPrice }}
    .md-title.keg-volume 500mL: R$ {{ $ctrl.keg.pintPrice }}
    .img-container
      img.img-product.img-product-large(src='{{$ctrl.keg.img || $ctrl.keg.imgGooglePath }}')
    p(ng-if='!$ctrl.small').md-headline.red-color.twitter-chopp @choppnolitro