@import 'variables';

.storeview {
    font-family: 'CustomWebsiteFont', Fallback, sans-serif;
    background-color:  white;
    height: 100%;
    margin: 0;
    padding: 15px;

    .web-container{
        margin-top: 10px;
    }
    .red-color{
        color: $red-color;
    }

    .borderline-container {
        .borderline {
            border: 12px $red-color solid;
            border-radius: 50px;
            width: 100%;

            &.small{
                border-width: 9px;
            }
            &.yellow {
                border-color: $orange-color;
            }
        }
    }
    .title-text{
        margin: 0;
    }
    .address-text{
        color:$red-color;
        margin: 0;
        font-size: 46px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .footer-text{
        color: $red-color;
        margin: 0;
        font-size: 62px;
        font-weight: bold;
    }

}