.provider-list {
    .letter-pagination {
        font-weight: bolder;
        font-size: 30px;
        text-transform: capitalize;
        padding: 5px;
        cursor: pointer;
        text-decoration: underline;
        margin: auto;
    }
}