md-content.provider-list
  .container
    md-list
      md-toolbar.md-menu-toolbar(md-scroll-shrink)
        .md-toolbar-tools
          md-input-container.full-width(md-no-float='')
            input(ng-model='ctrl.searchText' ng-model-options='{debounce:300}', ng-change='ctrl.search(ctrl.searchText)' placeholder='{{ctrl.label}}' autofocus)
        .md-toolbar-tools
            span.letter-pagination(ng-repeat='(key, entry) in ctrl.dictionaryAlpha' ng-click='ctrl.loadDictionaryData(key)') {{ key }}
      md-list-item.md-3-line(ng-click='ctrl.openInfo(entry._id)' ng-repeat='entry in ctrl.data')
        .md-list-item-text(layout='column')
          h3 {{entry.shortName}}
          h4 {{entry.phoneNumber}}
          p {{entry.active ? "Ativo" : "Inativo"}}
          p {{ entry.name }}

