@keyframes warning-blink {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: #fff
    }
    50% {
        background-color: #ff000045;
    }
    99% {
        background-color: #ff000045;
    }
    100% {
        background-color: #ff000045;
    }
}
md-card.menu-order{
    margin: 0px;
    md-card{
        margin: 0px;
    }
}
.menu-order {
    .warning-card {
        background-color: #ff000045;
        animation: warning-blink 1s infinite;
    }
    .warning-text {
        color: red;
        font-weight: bold;
    }
    .menu-item {
        padding: 0;
        h3{
            margin: 0;
        }
    }
    md-card-header{
        padding: 5px;
    }
}