md-content.stock-list
  md-card.container
    md-list
      md-toolbar.md-menu-toolbar(md-scroll-shrink)
        div(layout='column' layout-padding)
          md-input-container
            label Selecione uma Loja
            md-select(placeholder='Escolha uma Loja', ng-model='ctrl.storeId' required name='store' ng-change='ctrl.updateStock()')
              md-option(ng-value='iterator._id' ng-repeat='iterator in ctrl.storeList') {{iterator.name}}
          md-input-container
            md-radio-group(ng-model='ctrl.statusFilter' ng-change='ctrl.filterByStatus(ctrl.statusFilter)' layout='row' layout-align="space-around center" ng-if='ctrl.storeId')
              md-radio-button.md-primary(value='active')  Ativo
              md-radio-button.md-primary(value='inactive') Inativo
              md-radio-button.md-primary(value='all') Todos
      md-tabs(md-dynamic-height='', md-border-bottom='' ng-show='ctrl.storeId')
        md-tab(label='Barril de Chopp')
          md-list-item(ng-repeat='entry in ctrl.kegList | orderBy: "finalized"')
            stockrow.stockrow(data='entry' admin='ctrl.isAdmin')
        md-tab(label='Produtos')
          md-list-item(ng-repeat='entry in ctrl.productList | orderBy: "finalized"')
            stockrow.stockrow(data='entry' admin='ctrl.isAdmin')
